{% extends 'base.html' %}

{% block username %}
<div style="display: flex; align-items: center;">
    <select id="current_loc" class="dropdown" onchange="sendLocation()"
        style="font-size: 16px; padding: 4px 8px; margin-top: 15px;">
        <option value="{{current_location}}" selected>{{current_location}}</option>
        {% for location in locations %}
        <option value="{{location}}">{{location}}</option>
        {% endfor %}
    </select>
    <p
        style="margin-left: 10px; background-color: #ffffff;color: black; font-size: 16px; padding: 4px 8px; border-radius: 5px;">
        {{username}}</p>
    <span class="material-icons-outlined" style="font-size: 24px; margin-left: 8px;">account_circle</span>
</div>
{% endblock %}

{% block title %}
{{page_name|title}}
{% endblock %}

{% block header %}
{{page_name|upper}}
{% endblock %}

{% block main%}
<button onclick="gotoAddLoc('{{session_id}}')">Add + </button>
{% for loc in alllocs %}
<div class="card" style="width:100%;height: max-content;">

    <div class="container">
        <h4><b>{{loc.location_name}}</b></h4>
        <p>description:{{loc.description}}</p></br></br>
        <p> latitude:{{loc.latitude}}</p></br></br>
        <p> longitude:{{loc.longitude}}</p></br></br>
        <img style="height: 100px; width: 100px;" src='{{loc.image_path}}'>
    </div>
</div>

{% endfor %}
{% endblock %}